In [38]:
import pandas as pd
from nltk.tokenize import word_tokenize, sent_tokenize
corpus = "U is not a website or a company. U is a coding environment. Which is good. That's what I love. Not bad at all"
corpus

"U is not a website or a company. U is a coding environment. Which is good. That's what I love. Not bad at all"

### One Hot Encoding - Terminologies and Process

   'all','at','bad','not','its'
* 'its not bad at all'  : [  1   , 1 ,  1 ,  1 , 1]
* 'its not bad'          :   [0, 0 ,1 ,1 ,1 ]
* 'its bad'              : [0, 0 ,1 ,0 , 1]
* 'not bad at all'       : [1, 1 , 1 , 1 ,0]

### Finding the sequence

In [46]:
seq = set()
for word in word_tokenize(corpus):
    if(word!='.'):
        seq.add(word.lower())
        
seq = list(seq)
print(seq)

['environment', 'u', 'a', 'company', 'or', 'what', 'love', 'not', 'that', 'all', 'coding', 'bad', 'good', 'which', 'at', "'s", 'i', 'is', 'website']

In [21]:
seq.index('u')

1

### Finding Index to Encode

In [26]:
data = []
for sent in sent_tokenize(corpus):
    index = []
    for word in word_tokenize(sent):
        if(word!='.'):
            index.append(seq.index(word.lower()))
    data.append(index)

In [27]:
data

[[1, 17, 7, 2, 18, 4, 2, 3],
 [1, 17, 2, 10, 0],
 [13, 17, 12],
 [8, 15, 5, 16, 6],
 [7, 11, 14, 9]]

### Encode the sentences in One Hot Encoding format

In [32]:
enc

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [34]:
fin = []
for indexes in data:
    enc = [0 for x in range(len(seq))]
    for index in indexes:
        enc[index] = 1
    fin.append(enc)

### Creating the DataFrame/ Dataset

In [35]:
sent_tokenize(corpus)

['U is not a website or a company.',
 'U is a coding environment.',
 'Which is good.',
 "That's what I love.",
 'Not bad at all']

In [36]:
fin

[[0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1],
 [1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0]]

In [37]:
data

[[1, 17, 7, 2, 18, 4, 2, 3],
 [1, 17, 2, 10, 0],
 [13, 17, 12],
 [8, 15, 5, 16, 6],
 [7, 11, 14, 9]]

In [39]:
seq

['environment',
 'u',
 'a',
 'company',
 'or',
 'what',
 'love',
 'not',
 'that',
 'all',
 'coding',
 'bad',
 'good',
 'which',
 'at',
 "'s",
 'i',
 'is',
 'website']

In [48]:
df = pd.DataFrame(fin,columns=seq)
df['Sentences_'] = sent_tokenize(corpus)
df

,environment,u,a,company,or,what,love,not,that,all,coding,bad,good,which,at,'s,i,is,website,Sentences_
0,0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,0,0,1,1,U is not a website or a company.
1,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,U is a coding environment.
2,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,Which is good.
3,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,1,1,0,0,That's what I love.
4,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,0,0,0,Not bad at all

                                   ['This','is','not','bad','good','at','all']
* 'This is good, not bad at all' :[1,1,1,1,1,1,1]
* 'This is bad, not good at all' :[1,1,1,1,1,1,1]

* Although both sentence have different meaning there representation is the same

* [0 for x in range(10000)]
* 'This is good, not bad at all'
* If the seq is of length 10000 and sentence is of length=7. Probability of each word in the sequence is very low. So, it will not work in case of huge vocabulary size.